.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{  
    padding: 2% 3% ;
    background-color: #f4f4f4;
    border-radius: 0.4%;
    margin: 5%;
    width: 50%;
    
}
.form.container{
 max-width: 100%;
 
}
.form .container form{
    display: flex;
    flex-direction: column;
    
}

.form .container form input{
 /* margin: 1% 3%; */
 margin: 3% 1% 1% 1% ;
 width: 100%;
 background: none;
 border: none;
 outline: none;
 border-bottom: 1px solid #000;
 color: #0d0d00;
}
.form .container form textarea{
    /* margin:  1% 3%; */
    margin: 3% 1% 1% 1% ;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    color: #0d0d00;
    resize: none;
}
.form .container form button{
    width: fit-content;
    padding: 1% 0.1%;
    margin:3% ;
    cursor: pointer;
    border: none;
    outline: none;
    background: lightblue;
}